.tag
{
    height:15px;
    line-height: 15px;
    width:80px;
    border-radius:5px;
    padding:2px;
    margin:2px;
    background-color: rgb(164, 218, 240);
    float:left;
    text-align:center;
    font-size: 7px;
}

.res
{
    height:70px;
    border-radius:5px;
    padding:2px;
    margin:2px;
    background-color: aquamarine;
    display:block;
    float: left;    
}